archetype.groupId=org.codehaus.mojo.archetypes
archetype.artifactId=maven-archetype-test
archetype.version=1.0
groupId=org.apache.maven.archetype.test
artifactId=test-create-1
version=1.0-SNAPSHOT
package=org.apache.maven.archetype
someProperty=A String to search for