 ------
 Maven Plugin Site Archetype
 ------
 Hervé Boutemy
 ------
 2010-04-26
 ------

Maven Plugin Site Archetype

 <<<maven-archetype-plugin-site>>> is an archetype which contains a sample Maven plugin's site:

+----+

project
|-- pom.xml
`-- src
    `-- site
        |-- apt
        |   |-- examples
        |   |   `-- example.apt
        |   |-- index.apt
        |   `-- usage.apt
        `-- site.xml

+----+

 This archetype can be layered upon an existing Maven project.

* Usage

 To create a new project or update an existing project from this archetype, type:

+----+

mvn archetype:generate -DarchetypeGroupId=${project.groupId} -DarchetypeArtifactId=${project.artifactId} -DarchetypeVersion=${project.version}

+----+
