archetype.groupId=org.codehaus.mojo.archetypes
archetype.artifactId=maven-archetype-test
archetype.version=1.0
groupId=org.codehaus.mojo.archetypeng.test
artifactId=test-create-2
version=1.0-SNAPSHOT
package=org.codehaus.mojo.archetypeng
someProperty=A String to search for