 ------
 Maven Quickstart Archetype
 ------
 Hervé Boutemy
 ------
 2010-04-25
 ------

Maven Quickstart Archetype

 <<<maven-archetype-quickstart>>> is an archetype which contains a sample Maven project:

+----+

project
|-- pom.xml
`-- src
    |-- main
    |   `-- java
    |       `-- App.java
    `-- test
        `-- java
            `-- AppTest.java

+----+

* Usage

 To create a new project from this archetype, type:

+----+

mvn archetype:generate -DarchetypeGroupId=${project.groupId} -DarchetypeArtifactId=${project.artifactId} -DarchetypeVersion=${project.version}

+----+
